__pycache__/wsgi.cpython-311.pyc
App/__pycache__/__init__.cpython-311.pyc
App/__pycache__/config.cpython-311.pyc
App/__pycache__/database.cpython-311.pyc
./App/__pycache__/models.cpython-311.pyc
App/__pycache__/views/__init__.cpython-311.pyc
App/__pycache__/views/auth.cpython-311.pyc
App/__pycache__/views/main.cpython-311.pyc
App/__pycache__/views/user.cpython-311.pyc
.env

venv/
.envrc
.DS_Store
*.sqlite3
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.pot
*.py[cod]
*$py.class  

instance/temp-database.db
